<div>
    <h1> Dragula Experimentation</h1>

</div>

 <div>
        <div class='wrapper'>
              <div class='container' [dragula]='"first-bag"'>
                <div>Drag/drop item 1</div>
              </div>

              <div class='container' [dragula]='"first-bag"'>
                <div>Drag/drop item 2</div>
              </div>

              <div class='container'  [dragula]='"first-bag"'>
                  <div> Drag/drop item 3</div>
                  <div> Drag/drop item 4</div>
                  <div> Drag/drop item 5</div>
              </div>
        </div>
 </div>